<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>PYTHON</li>
  <li>R</li>
  <li>SQL</li>
</ol>

* objective
<ul>
  <li>julia</li>
  <li>scala</li>
  <li>swift</li>
</ul>

some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>PANDAS</li>
  <li>NUMPY</li>
  <li>SCIPY</li>
  <li>PYTORCH</li>
  <li>MATPLOTLIB</li>
</ol>

<table>
    <tr>
      <th>Data Science Tools</th>
    </tr>
    <tr>
      <td>jupyter</td>
    </tr>
    <tr>
      <td>jupyterlab</td>
    </tr>
    <tr>
      <td>Rstudio</td>
    </tr>
    <tr>
      <td>Spyder</td>
    </tr>

<h3> Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

In [4]:
MIN=200
HR=200/60
print(HR)

3.3333333333333335

<h2>Author</h2><br> Gajendra singh tomar<br>